:root {
  --main-color-background: #abe1ab;
  --main-color-primary: #05df72;
  --main-color-input-focus: #dcfce7;
  --main-color-white: #ffffff;
  --main-color-gray: #eee;
  --main-color-black: #000;
  --main-border: 5px;
}

body {
  background-color: var(--main-color-background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.container-primary {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  background-color: var(--main-color-white);
  border-radius: var(--main-border);
}

/********nav-bar*******************/
.nav-bar {
  max-width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.nav-bar > div {
  flex: 1 1 300px;
  align-self: center;
}

.nav-bar {
  max-width: 100%;
  border-bottom: solid 1px var(--main-color-gray);
}

.nav-bar h1 {
  text-align: center;
  font-size: 18px;
}

.nav-bar ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.nav-bar li {
  float: left;
  height: 40px;
  display: table;
}

.nav-bar li a {
  display: block;
  color: var(--main-color-black);
  padding: 0px 8px;
  text-decoration: none;
  display: table-cell;
  align-content: center;
}

.nav-bar .title h1 {
  margin: 0px 10px;
  font-size: 25px;
}
.nav-bar li a:hover {
  background-color: var(--main-color-gray);
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.icon-box {
  cursor: pointer;
}
/********Forms*******************/
input:focus {
  background-color: var(--main-color-input-focus);
  outline: unset;
  color: var(--main-color-primary);
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--main-color-primary);
}

.error {
  border: solid 1px coral !important;
}
.message-error {
  color: coral;
}

.success {
  border: solid 1px var(--main-color-background) !important;
}
.message-success {
  color: var(--main-color-background);
}

form button {
  background-color: var(--main-color-primary);
  border: 0px;
  padding: 10px;
  border-radius: var(--main-border);
  color: var(--main-color-white);
}

form button:hover {
  background-color: var(--main-color-gray);
  color: var(--main-color-primary);
  cursor: pointer;
}
/********Login*******************/
.login {
  max-width: 800px;
  margin: 0 auto;
}

.login h1 {
  text-align: center;
  margin: 50px 0px;
  font-size: 28px;
  font-weight: 500;
}

.login form > div {
  max-width: 400px;
}

.login form {
  margin-left: 30px;
  padding: 20px;
  width: 400px;
}

.login form label {
  display: block;
  margin-top: 10px;
}

.login form input {
  width: 100%;
  height: 40px;
  border-radius: var(--main-border);
  border: 1px solid #eee;
}

.login .message {
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .login form {
    margin-left: 0px;
    width: 100%;
  }
  .login form input {
    width: 100%;
  }
}

/********Carousel*******************/
.carousel-container {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.15);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* transform: translateY(-50%);*/
}

.carousel-buttons button {
  background-color: var(--main-color-primary);
  border: 0px;
  padding: 10px;
  border-radius: var(--main-border);
  color: var(--main-color-white);
}

.carousel-buttons button:hover {
  background-color: var(--main-color-gray);
  color: var(--main-color-primary);
  cursor: pointer;
}

.carousel-buttons button {
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.carousel-buttons button span {
  font-size: 40px;
}

.products-container {
  margin-top: 1rem;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-card {
  width: 170px;
  height: auto;
  position: relative;
}
.product-name {
  text-align: center;
}
.product-price {
  position: absolute;
  background: var(--main-color-gray);
  border-radius: var(--main-border);
  bottom: 30px;
  text-align: center;
  margin: 0 auto;
  left: 35%;
}
